.DS_Store
node_modules
/dist
/www
/plugins
/platforms

# local env files
.env.local
.env.*.local

# Log files0
npm-debug.log*
yarn-debug.log*
yarn-error.log*
gcox-www.zip

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
